body {
    align: center;
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin-left: 80px;
    background-color: #003300;
}

header_id {
    background-color: #003300;
    margin: 0px 80px 0px 80px;
    color: #ffffff;
}

* {
    background-color: #003300;
}
